service cloud.firestore {
  match /databases/{database}/documents {
    match /{path}/{item} {
      allow get, read, create: if true;
    }
    match /{path}/{item} {
      allow update, delete: if request.auth != null;
    }
  }
}