@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?45454056');
  src: url('../font/fontello.eot?45454056#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?45454056') format('woff2'),
       url('../font/fontello.woff?45454056') format('woff'),
       url('../font/fontello.ttf?45454056') format('truetype'),
       url('../font/fontello.svg?45454056#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45454056#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-th-large:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-attach:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */
.icon-folder:before { content: '\e811'; } /* '' */
.icon-folder-open:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-attention:before { content: '\e814'; } /* '' */
.icon-attention-circled:before { content: '\e815'; } /* '' */
.icon-bell:before { content: '\e816'; } /* '' */
.icon-volume-off:before { content: '\e817'; } /* '' */
.icon-volume-down:before { content: '\e818'; } /* '' */
.icon-volume-up:before { content: '\e819'; } /* '' */
.icon-login:before { content: '\e81a'; } /* '' */
.icon-logout:before { content: '\e81b'; } /* '' */
.icon-clock:before { content: '\e81c'; } /* '' */
.icon-resize-full:before { content: '\e81d'; } /* '' */
.icon-resize-small:before { content: '\e81e'; } /* '' */
.icon-resize-vertical:before { content: '\e81f'; } /* '' */
.icon-resize-horizontal:before { content: '\e820'; } /* '' */
.icon-zoom-in:before { content: '\e821'; } /* '' */
.icon-zoom-out:before { content: '\e822'; } /* '' */
.icon-down-dir:before { content: '\e823'; } /* '' */
.icon-up-dir:before { content: '\e824'; } /* '' */
.icon-left-dir:before { content: '\e825'; } /* '' */
.icon-right-dir:before { content: '\e826'; } /* '' */
.icon-right-hand:before { content: '\e827'; } /* '' */
.icon-left-hand:before { content: '\e828'; } /* '' */
.icon-up-hand:before { content: '\e829'; } /* '' */
.icon-down-hand:before { content: '\e82a'; } /* '' */
.icon-cw:before { content: '\e82b'; } /* '' */
.icon-arrows-cw:before { content: '\e82c'; } /* '' */
.icon-shuffle:before { content: '\e82d'; } /* '' */
.icon-cloud:before { content: '\e82e'; } /* '' */
.icon-flash:before { content: '\e82f'; } /* '' */
.icon-umbrella:before { content: '\e830'; } /* '' */
.icon-leaf:before { content: '\e831'; } /* '' */
.icon-truck:before { content: '\e832'; } /* '' */
.icon-phone:before { content: '\e833'; } /* '' */
.icon-cog:before { content: '\e834'; } /* '' */
.icon-book:before { content: '\e835'; } /* '' */
.icon-adjust:before { content: '\e836'; } /* '' */
.icon-chart-bar:before { content: '\e837'; } /* '' */
.icon-briefcase:before { content: '\e838'; } /* '' */
.icon-basket:before { content: '\e839'; } /* '' */
.icon-wrench:before { content: '\e83a'; } /* '' */
.icon-off:before { content: '\e83b'; } /* '' */
.icon-tag-1:before { content: '\e83c'; } /* '' */
.icon-bookmark:before { content: '\e83d'; } /* '' */
.icon-flag-1:before { content: '\e83e'; } /* '' */
.icon-thumbs-up:before { content: '\e83f'; } /* '' */
.icon-thumbs-down:before { content: '\e840'; } /* '' */
.icon-thumbs-up-alt-1:before { content: '\e841'; } /* '' */
.icon-thumbs-down-alt-1:before { content: '\e842'; } /* '' */
.icon-pencil-1:before { content: '\e843'; } /* '' */
.icon-megaphone:before { content: '\e844'; } /* '' */
.icon-credit-card:before { content: '\e845'; } /* '' */
.icon-gift:before { content: '\e846'; } /* '' */
.icon-star:before { content: '\e847'; } /* '' */
.icon-star-empty:before { content: '\e848'; } /* '' */
.icon-glass:before { content: '\e849'; } /* '' */
.icon-music:before { content: '\e84a'; } /* '' */
.icon-search:before { content: '\e84b'; } /* '' */
.icon-eye:before { content: '\e84c'; } /* '' */
.icon-eye-off:before { content: '\e84d'; } /* '' */
.icon-mail:before { content: '\e84e'; } /* '' */
.icon-star-half:before { content: '\e84f'; } /* '' */
.icon-videocam:before { content: '\e850'; } /* '' */
.icon-edit:before { content: '\e851'; } /* '' */
.icon-signal:before { content: '\e852'; } /* '' */
.icon-target:before { content: '\e853'; } /* '' */
.icon-link:before { content: '\e854'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-sticky-note:before { content: '\f249'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-wheelchair-alt:before { content: '\f29b'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */
.icon-font-awesome:before { content: '\f2b4'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-thermometer-2:before { content: '\f2c9'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.icon-thermometer-0:before { content: '\f2cb'; } /* '' */
.icon-shower:before { content: '\f2cc'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
