@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.3px;
}

body,
button,
a:link {
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
  letter-spacing: -0.02rem;
  color: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Pretendard-Bold", "Noto Sans KR", sans-serif;
}

input[type="password"] {
  font-family: "Noto Sans KR", sans-serif;
}

.text-black-han {
  font-family: "Black Han Sans", "Noto Sans KR", sans-serif !important;
  font-weight: 400;
}

@for $var from 2 through 9 {
  .fw-#{$var}#{"00"} {
    font-weight: #{$var}#{"00"};
  }
}

$font-size: (
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  36,
  40,
  48,
  56,
  64,
  72,
  80,
  88,
  90,
  100,
  120,
  140,
  160,
  200,
  210,
  240,
  260
);

@media print {
  @each $var in $font-size {
    .text-pr-#{$var} {
      font-size: #{$var}px;
    }
  }
}

@each $var in $font-size {
  .text-#{$var} {
    font-size: #{$var}px;
  }
  .btn {
    &.text-#{$var} {
      font-size: #{$var}px;
    }
  }
  input {
    &.text-#{$var} {
      font-size: #{$var}px;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  @each $var in $font-size {
    .text-md-#{$var} {
      font-size: #{$var}px;
    }
    .btn {
      &.text-md-#{$var} {
        font-size: #{$var}px;
      }
    }
    input {
      &.text-md-#{$var} {
        font-size: #{$var}px;
      }
    }
  }
}
@media screen and (min-width: $breakpoint-lg) {
  @each $var in $font-size {
    .text-lg-#{$var} {
      font-size: #{$var}px;
    }
    .btn {
      &.text-lg-#{$var} {
        font-size: #{$var}px;
      }
    }
    input {
      &.text-lg-#{$var} {
        font-size: #{$var}px;
      }
    }
  }
}
@media screen and (min-width: $breakpoint-xl) {
  @each $var in $font-size {
    .text-xl-#{$var} {
      font-size: #{$var}px;
    }
    .btn {
      &.text-xl-#{$var} {
        font-size: #{$var}px;
      }
    }
    input {
      &.text-xl-#{$var} {
        font-size: #{$var}px;
      }
    }
  }
}

$line-heights: (80, 88, 90, 100, 135, 160, 165, 170, 180, 200, 225);

@each $var in $line-heights {
  .lh-#{$var} {
    line-height: calc($var / 100);
  }
}

.break-keep {
  word-break: keep-all !important;
}

.text-underline {
  text-decoration: underline !important;
}

.word-break {
  word-break: normal;
}
@media screen and (max-width: 768px) {
  .text-md-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
  }
}

[role="radiogroup"] {
  &[tag] {
    .custom-radio {
      input {
        display: none;
      }
      label {
        &::before,
        &::after {
          display: none;
        }
        white-space: nowrap;
      }
    }
  }
}

.text-strike {
  text-decoration: line-through;
}

.text-truncate {
  &.line-2 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.2em;
    max-height: 2.4em;
  }
}

strong {
  font-weight: 700;
}
