$ratios: (
  15,
  20,
  35,
  40,
  50,
  55,
  60,
  65,
  67,
  38,
  40,
  56,
  60,
  67,
  70,
  90,
  96,
  100,
  110,
  120,
  125,
  130,
  141,
  150,
  160,
  149,
  200
);
figure,
figcaption {
  margin: 0;
}
.bg-img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: transparent center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-position: center;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    // height: 100%;
    width: 100%;
    height: auto;
  }
}

@each $var in $ratios {
  .ratio-#{$var} {
    padding-bottom: #{$var}#{"%"};
  }
  @media screen and (max-width: $breakpoint-md) {
    .ratio-sm-#{$var} {
      padding-bottom: #{$var}#{"%"} !important;
      background-position: left top;
    }
  }
}

.img-contain {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  img {
    height: 100%;
    width: auto;
    min-width: 100%;
  }
}

$md-ratios: (38);
@media screen and (min-width: 768px) {
  .img-md-contain {
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    @each $var in $md-ratios {
      &.md-ratios-#{$var} {
        padding-bottom: #{$var}#{"%"} !important;
      }
    }
  }
}

figure.image-wrapper {
  position: relative;
  overflow: hidden;
  object-fit: contain;
  img {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.2s;
  }
  &:hover {
    img {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}
