@import "./variables.scss";

// bootstrap-vue
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

// reset
@import "./reset.scss";
// modules
@import "./font.scss";
@import "./icons.scss";
@import "./images.scss";
@import "./transition.scss";

// fontello
@import "../css/fontello-embedded.css";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  // min-height: 100vh;
  // background-color: #ededed;
  color: $darkest;
  max-width: 100vw;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    width: 3px;
    // background-color: $secondary;
  }
  &::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: $primary;
  }
  scroll-behavior: smooth;
  * {
    &::selection {
      background-color: $darkest;
      color: white;
    }
  }
  &.modal-open {
    padding-right: 0 !important;
  }
  word-break: keep-all;
  line-height: 1.7;
}

#app {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: $darkest;
  background-color: white;
  &.dark-mode {
    color: white;
    background-color: $darkest;
  }
}

.form-control {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
}

.b-toaster {
  z-index: 3000;
  * {
    max-width: unset;
  }
  header.toast-header {
    display: none;
  }
  .toast-body {
    border-radius: 0;
    background-color: $darkest;
    color: $lightest;
  }
  .b-toaster-slot {
    min-width: 300px;
    .b-toast {
      width: 100%;
      max-width: 35vw;
      word-break: keep-all;
    }
  }
}

.alarm-dot {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 25rem;
  font-size: 11px;
  padding: 2px 6px;
  color: white;
  background-color: $alert;
  min-width: 24px;
  text-align: center;
  font-weight: 700;
}

textarea {
  resize: none;
}

// 메인 내부 기본 패딩
.main-inner-padding {
  padding-top: 72px;
}
// 섹션끼리의 갭
.section-gap {
  margin-top: 96px;
  margin-bottom: 96px;
  @media (min-width: 992px) {
    margin-top: 132px;
    margin-bottom: 132px;
  }
}

// .waves-wrapper {
//   max-height: 658px;
//   overflow-y: auto;
//   overflow-x: hidden;
// }
.section-header {
  padding-top: 8px;
  margin-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
}

.bg-flow {
  position: relative;
  padding-right: 16px;
  overflow: hidden;
  z-index: 2;
  // display: inline-block;
  letter-spacing: -2px;
  > * {
    font-weight: 900;
  }
}

.page-header {
  padding-top: 12px;
  padding-bottom: 24px;
  text-align: center;
  .page-title {
    font-size: 18px;
    font-weight: 700;
    @media (min-width: $breakpoint-md) {
      font-size: 28px;
    }
    margin-bottom: 12px;
  }
  .page-description {
    font-size: 13px;
    @media (min-width: $breakpoint-md) {
      font-size: 14px;
    }
  }
}

.nuxt-link {
  text-decoration: none;
}
a.link {
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// 카테고리
.text-category {
  font-size: 14px;
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  vertical-align: middle;
  > table {
    width: 100%;
    thead {
      tr {
        th {
          background-color: $gray-100;
          text-align: center;
          font-weight: 700;
          padding: 0.75rem 1rem;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 0.5rem;
          vertical-align: middle;
        }
      }
    }
  }
}

ul.dropdown-menu {
  max-height: 300px !important;
  width: 400px !important;
  max-width: 92vw !important;
  overflow-y: auto !important;
}

ol.list-ordered {
  list-style-type: decimal;
}

ul.list-styled {
  list-style-type: disc;
}

.custom-control.custom-radio {
  display: inline-flex;
  align-items: center;
  label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.underbar {
  position: relative;
  display: inline-block;
  z-index: 2;
  &:after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    bottom: 25%;
    left: 50%;
    width: 110%;
    height: 35%;
    transform: translateX(-50%);
    background-color: $sub-2;
  }
  @each $color, $order in $theme-colors {
    &[variant="#{$color}"] {
      &:after {
        background-color: $order;
      }
    }
  }
}

.input-group {
  background-color: white;
  padding: 0.5rem 1rem;
  align-items: center;
  .input-group-prepend {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 15px;
    @media (min-width: $breakpoint-md) {
      font-size: 20px;
    }
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 50%;
      right: 0;
      width: 2px;
      height: 50%;
      background-color: $gray-300;
      transform: translateY(-50%);
      z-index: 2;
    }
  }
  .form-control,
  .custom-select {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    @media (min-width: $breakpoint-md) {
      font-size: 20px;
    }
  }
  .custom-control-input[type="radio"] {
    + .custom-control-label {
      &:after,
      &:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
