$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$transparant: rgba(
  $color: #ffffff,
  $alpha: 0,
);

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$btn-focus-box-shadow: none;

// fusv-disable
$grays: (
  "transparant": $transparant,
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
) !default;
// fusv-enable

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #ff5252 !default;
$orange: #fd7e14 !default;
$yellow: #ffcc00 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$heart: #ff5252;

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-500,
  "gray-dark": $gray-800,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
) !default;
// scss-docs-end colors-map

$primary: #00ffe6;
// $primary: #970404;
$secondary: #383332;
$darkest: #222;
$gray: #444;
$light: #777;
$lightest: #ddd;
$alert: #ff0a5c;

$skeleton: #e7e7e7e7;
$naver: #1ec800;

$toast-max-width: 50px;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  // "primary-gradient": $primary-gradient,
  "darkest": $darkest,
  "gray": $gray,
  "light": $light,
  "lightest": $lightest,
  "black": #000000,

  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray-dark": $gray-800,
  "alert": $alert,
  "skeleton": $skeleton,
  "naver": $naver,
  "heart": $heart,

  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
) !default;

// variant
// etc
// $border-radius-lg: 1rem !default;

.shadow-primary {
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.15);
}

// transition variables
$ease-out: cubic-bezier(0.03, 0.57, 0.15, 0.99);
$ease-in-out: cubic-bezier(0.73, 0.33, 0.31, 0.89);

button,
.btn {
  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

.btn-link {
  color: $darkest;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption {
  margin: 0;
}

// $breakpoint-sm: 360px;
$breakpoint-md: 575.55px;
$breakpoint-lg: 767.55px;
$breakpoint-xl: 1439.55px;
$breakpoint-xxl: 1919.55px;
// girds
$grid-breakpoints: (
  xs: 0,
  // sm: 576px,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
) !default;

.btn-arr-right {
  i.icon {
    transition: all 0.2s $ease-in-out;
  }
  &:hover {
    i.icon {
      transform: translateX(10px);
    }
  }
}

hr.hr {
  border-top: 1px solid $gray;
  margin: 48px 0;
}

a:link {
  color: inherit;
}
